<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <!-- <ion-title>Help</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="privacy-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Introduction</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Pixeline is committed to protecting your privacy. This page explains how we handle your data and what information we collect.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Data Collection</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        We collect QR code data from your notebooks, convert them into PDFs, and temporarily store the data for your use. None of this data is stored on our servers.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Data Erasure</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Once the content is scanned and converted, you can erase it from your notebook and reuse it. Pixeline does not retain any scanned data after the process is complete.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Your Rights</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        You have full control over your data, and Pixeline ensures that no personal data is shared with third parties.
      </ion-card-content>
    </ion-card>

    <div class="contact-section">
      <h2>Contact Us</h2>
      <p>If you have any concerns about your data privacy, please contact us at supportpixeline&#64;gmail.com</p>
    </div>
  </div>
</ion-content>