<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Reset Password" defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>Create New Password</h2>
    
    <ion-item lines="none">
      <ion-input placeholder="Enter your new password" type="password"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input placeholder="Confirm Password" type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="save-button">Save</ion-button>
  </div>
</ion-content>
