<ion-content>
  <div class="reset-password-container">
    <ion-header class="reset-password-header">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>Reset Password</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="reset-password-content">
      <h2 class="reset-title">Create New Password</h2>

      <div class="password-input-container">
        <ion-label>Create New Password</ion-label>
        <ion-item>
          <ion-input type="password" placeholder="Enter your new password" class="password-input"></ion-input>
        </ion-item>
      </div>

      <div class="password-input-container">
        <ion-label>Confirm Password</ion-label>
        <ion-item>
          <ion-input type="password" placeholder="Confirm Password" class="password-input"></ion-input>
        </ion-item>
      </div>

      <ion-button class="save-button">Save</ion-button>
    </div>
  </div>
</ion-content>
