<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Profile Settings</ion-title> -->
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="profile-settings-content">
  <ion-list>
      <ion-item button (click)="editProfile()">
          <ion-label>Edit Profile</ion-label>
      </ion-item>
      <ion-item button (click)="logOut()">
          <ion-label color="danger">Log Out</ion-label>
      </ion-item>
      <ion-item button (click)="deactivateAccount()">
          <ion-label color="danger">Deactivate Account</ion-label>
      </ion-item>
      <ion-item button (click)="resetPassword()">
          <ion-label color="blue">Reset Password</ion-label>
      </ion-item>
  </ion-list>
</ion-content>