ion-toolbar {
  --ion-color-primary: #3880ff;
  --ion-color-primary-contrast: #fff;
  --background: #434242 !important;
  box-shadow: none !important;
  --border-color: transparent !important;
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .logo-container {
      width: 100%;
      position: absolute;
      transform: translateY(-50%);
  }

  .logo {
      max-height: 30px;
      margin-left: 7px;
      margin-top: 5px;    
  }

}

ion-content {
    --background: #f9f9f9;
    /* Page background */
    padding: 16px;
}

.step-container {
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .steps {
        background: #8a8787;
        font-size: 16px;
        width: 30%;
        color: white;
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    p{
        text-align: center;
    }
    }
  
}


.video-container {
    position: relative;
    width: 100%;
    border-radius: 5px;

}

video {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    height: 27rem;
}

.progress-bar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #e0e0e0;
}

.progress-bar {
    height: 100%;
    background-color: red;
    width: 0;
    transition: width 0.1s linear;
}

.time {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: #666;
}

.section-divider {
    height: 1px;
    background-color: #e0e0e0;
    /* Divider color */
    margin: 16px 0;
}
swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
  --swiper-pagination-color: var(--ion-color-light, #000000);
  --swiper-pagination-bottom: 69px;
  }
  swiper-slide {
    display: flex;
    position: relative;
  
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    height: 100%;
  
    font-size: 18px;
  
    text-align: center;
    box-sizing: border-box;
  }
  .back-button{
    font-size: 60px;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 12%), 0px 2px 2px rgb(0 0 0 / 24%);
    margin-top: 26px;
  }