<ion-content>
  <div class="login-container">
    <h2 class="login-title">Welcome Back</h2>
    <p class="login-subtitle">Enter your email and password for login</p>
    <ion-item class="input-container">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input placeholder="Enter Your Email" class="login-input"></ion-input>
    </ion-item>
    <ion-item class="input-container">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input placeholder="Enter Your Password" class="login-input"></ion-input>
    </ion-item>
    <p class="forgot-password"><ion-router-link routerLink="/forget-password" class="forget-link">Forget Password?</ion-router-link></p>
    <ion-button expand="block" class="login-button">Login Now</ion-button>
    <p class="signup-text">Don't have an account? <ion-router-link routerLink="/signup" class="signup-link">Sign up</ion-router-link></p>
  </div>
</ion-content>
