<!-- Showing splash Screen with scaling animation -->
<div class="pixe" [ngClass]="{'show': showImage}" *ngIf="currentStep === 0">
  <ion-img [src]="'assets/logo/1logo.jpeg'" ></ion-img> 
</div>


<ion-content ion-padding class="no-gap-content">
  <!--  Showing steps with content  -->
  <div class="step-container"  *ngIf="currentStep > 0">
    <ion-img [src]="steps[currentStep - 1].image"></ion-img>
    <ion-text>
      <h2>{{ steps[currentStep-1].head }}</h2>
    </ion-text>
    <ion-text>
      <p>{{ steps[currentStep-1].p }}</p>
    </ion-text>


    <!-- Progress bar -->
    <div class="progress-bar">
      <div *ngFor="let step of steps; let i = index" 
           [ngClass]="{'active': i === currentStep-1, 'completed': i < currentStep-1}">
      </div>
    </div>

    <!--  Navigation button for go to the next step -->
    <ion-button  class="circle" (click)="nextStep()" *ngIf="currentStep < steps.length ; else getstarted" shape="round">
      <ion-icon name="arrow-forward-outline" style="font-size: large;" ></ion-icon>
    </ion-button>

    <!--  Final button  -->
    <ng-template #getstarted>
      <ion-button routerLink="/login" class="get-started" shape="round">Get Started</ion-button>
    </ng-template>
  </div>
  
</ion-content>

<!-- Optional global background to ensure no difference in color -->
<div class="global-bg"></div>
