<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <!-- <ion-title>Contact-Us</ion-title> -->
  </ion-toolbar>
</ion-header>


<!-- Content -->
<ion-content>
  <div class="contact-container">
    <h2>Get in Touch</h2>
    <div class="contact-item">
      <ion-icon name="call-outline" class="icon"></ion-icon>
      <a href="tel:+919821378948" class="contact-info">+91 9821378948</a>
    </div>
    <div class="contact-item">
      <ion-icon name="mail-outline" class="icon"></ion-icon>
      <a href="mailto:maxvision@gmail.com" class="contact-info">Maxvision&#64;gmail.com</a>
    </div>
  </div>
</ion-content>


