/* Style for the toolbar */
ion-header {
  ion-toolbar {
    --background: #fff;
    /* Toolbar background */
    box-shadow: none;
    /* Remove any shadows */
    border: none;
    /* Ensure no borders */
    --border-color: transparent;
    /* Make sure border color is transparent */
    border: none !important;
    /* Remove border forcefully */
  }

  ion-icon {
    color: royalblue;
  }


}


ion-content {
  --background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.reset-password-header {
  width: 100%;
  background-color: #333333;
  /* Dark header background */
  color: #ffffff;
  /* White text color */
}

.reset-password-content {
  padding: 20px;
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.reset-title {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}

.reset-subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
  margin-bottom: 20px;
}

.email-input-container {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  flex-direction: column;

}

.email-input-container ion-label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 5px;
}

.email-input-container ion-item {
  --background: #f8f8f8;
  --border-radius: 10px;
  --padding-start: 15px;
  --inner-padding-end: 15px;
  --highlight-color-focused: transparent;
  --border-color: transparent;
  --inner-box-shadow: none;
}

.email-input {
  font-size: 16px;
  color: #333333;
  text-align: left;
}

.send-button {
  margin-top: 0px;
  /* Space above the button */
  margin-left: 230px;
  /* Align to the right */
  width: 80px;
  /* Button width */
  height: 30px;
  /* Button height */
  --background: #333333;
  /* Background color */
  --border-radius: 25px;
  /* Rounded corners */
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
  /* White text color */
  text-transform: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}